doctype html
head
  title Our Food - Website Template
  link(href='steakhouse/css/style.css', rel='stylesheet', type='text/css')
  //if IE 6
  link(href='steakhouse/css/ie6.css', rel='stylesheet', type='text/css')
  //if IE 7
  link(href='steakhouse/css/ie7.css', rel='stylesheet', type='text/css')
body
#background
  .page
    #header
      ul.navigation
        li
          a.active(href='food.html') OUR FOOD
        li
          a(href='beer.html') OUR BEER
      a#logo(href='index.html')
        img(src='steakhouse/images/logo2.jpg', width='276', height='203', alt='Steak House', title='Steak House')
      ul#navigation
        li
          a(href='reservation.html') RESERVATION
        li
          a(href='contact.html') CONTACT US
    #body
      .content
        .body
          h3 MENU
          ul.section
            li.odd
              h2 CRAS TURPIS URNA
              ul
                li
                  h2
                    a(href='food.html') Lorem ipsum dolor sit amet, consectetur
                  span $0.00
                  p
                    | Praesent pretium venenatis nunc, eget porttitor tellus
                li
                  h2
                    a(href='food.html') Praesent id arcu ligula, at pulvinar est   
                  span $0.00
                  p
                    | Suspendisse potenti. Phasellus ac nibh massa
                li
                  h2
                    a(href='food.html') Cras turpis urna, luctus sed dapibus sed
                  span $0.00
                  p
                    | Quisque accumsan, leo non aliquet pulvinar, ante justo
                li
                  h2
                    a(href='food.html') Nullam fermentum aliquet nibh quis  
                  span $0.00
                  p
                    | Donec blandit libero a felis gravida sed tempus est ultrices
                li.last
                  h2
                    a(href='food.html') Lorem ipsum dolor sit amet, consectetur
                  span $0.00
                  p
                    | Praesent pretium venenatis nunc, eget porttitor tellus dignissim
            li
              h2 CRAS TURPIS URNA
              ul
                li
                  h2
                    a(href='food.html') Nullam fermentum aliquet nibh quis     
                  span $0.00
                  p
                    | Donec blandit libero a felis gravida sed tempus est ultrices
                li
                  h2
                    a(href='food.html') Lorem ipsum dolor sit amet, consectetur adipi  
                  span $0.00
                  p
                    | Venenatis nunc, eget porttitor tellus dignissim et
                li
                  h2
                    a(href='food.html') Praesent id arcu ligula, at pulvinar justo gravida   
                  span $0.00
                  p
                    | Suspendisse potenti. Phasellus ac nibh massa
                li
                  h2
                    a(href='food.html') Cras turpis urna, luctus sed dapibus sed     
                  span $0.00
                  p
                    | Quisque accumsan, leo non aliquet pulvinar, ante justo ultricie
                li.last
                  h2
                    a(href='food.html') Ullam fermentum aliquet nibh quis     
                  span $0.00
                  p
                    | Donec blandit libero a felis gravida sed tempus est ultrices
            li.odd
              h2 CRAS TURPIS URNA
              ul
                li
                  h2
                    a(href='food.html') Nullam fermentum aliquet nibh quis      
                  span $0.00
                  p
                    | Donec blandit libero a felis gravida sed tempus est ultrices
                li
                  h2
                    a(href='food.html') Lorem ipsum dolor sit amet, consectetur adipi   
                  span $0.00
                  p
                    | Venenatis nunc, eget porttitor tellus dignissim et
                li
                  h2
                    a(href='food.html') Praesent id arcu ligula, at pulvinar justo gravida  
                  span $0.00
                  p
                    | Suspendisse potenti. Phasellus ac nibh massa
                li
                  h2
                    a(href='food.html') Cras turpis urna, luctus sed dapibus sed  
                  span $0.00
                  p
                    | Quisque accumsan, leo non aliquet pulvinar, ante justo ultricie
                li
                  h2
                    a(href='food.html') Ullam fermentum aliquet nibh quis   
                  span $0.00
                  p
                    | Donec blandit libero a felis gravida sed tempus est ultrices
                li.last
                  h2
                    a(href='food.html') Lorem ipsum dolor sit amet, consectetur adipi   
                  span $0.00
                  p
                    | Praesent pretium venenatis nunc, eget porttitor tellus dignissim
            li
              h2 CRAS TURPIS URNA
              ul
                li
                  h2
                    a(href='food.html') Lorem ipsum dolor sit amet, consectetur    
                  span $0.00
                  p
                    | Praesent pretium venenatis nunc, eget porttitor tellus
                li
                  h2
                    a(href='food.html') Praesent id arcu ligula, at pulvinar est    
                  span $0.00
                  p
                    | Suspendisse potenti. Phasellus ac nibh massa
                li
                  h2
                    a(href='food.html') Cras turpis urna, luctus sed dapibus sed     
                  span $0.00
                  p
                    | Quisque accumsan, leo non aliquet pulvinar, ante justo
                li
                  h2
                    a(href='food.html') Nullam fermentum aliquet nibh quis   
                  span $0.00
                  p
                    | Donec blandit libero a felis gravida sed tempus est ultrices
                li
                  h2
                    a(href='food.html') Lorem ipsum dolor sit amet, consectetur   
                  span $0.00
                  p
                    | Praesent pretium venenatis nunc, eget porttitor tellus dignissim
                li.last
                  h2
                    a(href='food.html') Lorem ipsum dolor sit amet, consectetur adipi   
                  span $0.00
                  p
                    | Venenatis nunc, eget porttitor tellus dignissim
    #footer
      ul
        li.first
          ul
            li
              a(href='index.html') Home
            li
              a(href='about.html') About
            li
              a(href='menu.html') Menu
            li
              a(href='beer.html') Beer
            li
              a(href='blog.html') Blog
            li
              a(href='contact.html') Contact Us
        li
          span Follow us:
          a.facebook(href='#')  
          a.twitter(href='#')  
        li.last
          span
            | © copyright 2011 ©. All rights reserved.
            a(href='http://www.cssmoban.com', title='网页模板', target='_blank') 网页模板
